@font-face {
  font-family: 'Univers-Bold';
  src: url('../../assets/fonts/Univers-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Univers-Light';
  src: url('../../assets/fonts/Univers-Light.woff') format('woff');
}

@font-face {
  font-family: 'Univers';
  src: url('../../assets/fonts/Univers-Roman.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
