.chart-loader-parent {
  position: relative;
  .highchart-loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
    .loader {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .sppiner_wraper {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 24px;
          line-height: 34px;
          color: #fff;
          font-weight: 500;
          padding: 10px 0;
          text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
          margin-bottom: 0 !important;
        }
        .spinnerdot {
          text-align: center;
          margin-left: 10px;
          margin-top: 10px;
          & > div {
            width: 4px;
            height: 4px;
            margin-left: 3px;
            background-color: #ffffff;
            border-radius: 100%;
            display: inline-block;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          }
          .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
          }
          .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
          }
        }
      }
    }
  }
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
