/*-- Fonts Family --*/

$font-light: 'Univers-Light';
$font-regular: 'Univers';
$font-bold: 'Univers-Bold';
$font-roboto: 'roboto', sans-serif;

/*-- Font Sizes --*/

$font-size-extra-small: 12px;
$font-size-small: 13px;
$font-size-body: 14px;
$font-size-intro: 20px;
$font-size-h5: 16px;
$font-size-h4: 20px;
$font-size-h3: 24px;
$font-size-h2: 30px;
$font-size-h1: 40px;

/*-- Primary Colors --*/

$primary-1: #007f00;
$primary-2: #cce7cc;
$primary-3: #99cc99;
$primary-4: #005400;

/*-- Secondary Colors --*/

$secondary-1: #db0100;
$secondary-2: #3da499;
$secondary-3: #99cc03;
$secondary-4: #007833;
$secondary-5: #ffe000;
$secondary-6: #ff6600;
$secondary-7: #660199;
$secondary-8: #8ca0b3;

/*-- Monochrome --*/

$monochrome-1: #252530;
$monochrome-2: #ffffff;
$monochrome-3: #fbf9fc;
$monochrome-4: #f2f6fa;
$monochrome-5: #666660;
$monochrome-6: #d9d9d8;
$monochrome-7: #f7f7f7;

/*-- Outline --*/

$outline-1: #007f00;
$outline-2: #666660;

/*-- Box Shadow --*/

$box-shadow-1: -10px 0 20px 10px rgba(102, 102, 96, 0.1);

/*-- Spacing --*/

$spacing-1: 50px;
$spacing-2: 20px;
$spacing-3: 10px;

/*-- Border Radius --*/

$border-radius-normal: 4px;
$border-radius-full: 20px;
